@import "config";


body {
    color: $gray2;
    background-color: #00ccd9;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 60px;
    text-align: center;
}


#header{
    margin-top: 30px;
}

.dark{
    color: #004c52
}

#explainer{
    margin-top: -4em;
}
